* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px;
}


.display{
  
  width: fit-content;
  padding: 20px;
  background-color: rgb(121, 120, 120);
  border-radius: 10px;
  margin: 10px auto;
  display: flex;

 
}
.btn{
  padding: 10px 20px;
  margin-right: 10px;
}